@charset "UTF-8";

body {
	
}
table {
	width: 60%;
	border-collapse: collapse;
	font-size: 14px;
}
th, td {
	border: 1px solid #dddddd;
	padding: 5px;
	text-align: center;
}
th {
	background: salmon;
}